.side-route-bg {
  width: 100%;
}
.channel-logo-side {
  width: 100px;
  margin-left: 40px;
}
@media (max-width: 900px) {
  .channel-logo-side {
    margin: auto;
  }
}
.select-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}
.side-select-con {
  padding-left: 0px;
  list-style-type: none;
}
.side-social-logos-con {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.social-media-img {
  width: 30px;
}
.side-route-icon {
  color: #ff0000;
  font-weight: bold;
}
