.player-con {
  background-color: #f9f9f9;
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow-y: scroll;
}
.player-con-2 {
  width: 65%;
}
@media (max-width: 576px) {
  .player-con-2 {
    width: 100%;
  }
}
.like-save-con {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
.like-con {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.time-like-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #616e7c;
}
@media (max-width: 576px) {
  .time-like-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.time-1 {
  color: #94a3b8;
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
  margin-right: 4px;
}
.profile-container-1 {
  display: flex;
}
.profile-img-1 {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin-top: 18px;
  margin-right: 8px;
}
.new-con {
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}
.loader-container-3 {
  width: 100vw;
  min-height: 80vh;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-1 {
  width: 100%;
}
